@charset "utf-8";
/* SIR 지운아빠 */

/* ### 기본 스타일 커스터마이징 시작 ### */

/* 게시판 버튼 */
/* 목록 버튼 */
#bo_gall a.btn_b01 {}
#bo_gall a.btn_b01:focus, #bo_gall a.btn_b01:hover {}
#bo_gall a.btn_b02 {}
#bo_gall a.btn_b02:focus, #bo_gall a.btn_b02:hover {}
#bo_gall a.btn_admin {} /* 관리자 전용 버튼 */
#bo_gall a.btn_admin:focus, #bo_gall .btn_admin:hover {}

/* 읽기 버튼 */
#bo_v a.btn_b01 {}
#bo_v a.btn_b01:focus, #bo_v a.btn_b01:hover {}
#bo_v a.btn_b02 {}
#bo_v a.btn_b02:focus, #bo_v a.btn_b02:hover {}
#bo_v a.btn_admin {} /* 관리자 전용 버튼 */
#bo_v a.btn_admin:focus, #bo_v a.btn_admin:hover {}

/* 쓰기 버튼 */
#bo_w .btn_confirm {} /* 서식단계 진행 */
#bo_w .btn_submit {}
#bo_w button.btn_submit {}
#bo_w fieldset .btn_submit {}
#bo_w .btn_cancel {}
#bo_w button.btn_cancel {}
#bo_w .btn_cancel:focus, #bo_w .btn_cancel:hover {}
#bo_w a.btn_frmline, #bo_w button.btn_frmline {} /* 우편번호검색버튼 등 */
#bo_w button.btn_frmline {}

/* 기본 테이블 */
/* 읽기 내 테이블 */
#bo_v .tbl_head01 {}
#bo_v .tbl_head01 caption {}
#bo_v .tbl_head01 thead th {}
#bo_v .tbl_head01 thead a {}
#bo_v .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_v .tbl_head01 tfoot th {}
#bo_v .tbl_head01 tfoot td {}
#bo_v .tbl_head01 tbody th {}
#bo_v .tbl_head01 td {}
#bo_v .tbl_head01 a {}
#bo_v td.empty_table {}

/* 쓰기 테이블 */
#bo_w table {}
#bo_w caption {}
#bo_w .frm_info {}
#bo_w .frm_address {}
#bo_w .frm_file {}

#bo_w .tbl_frm01 {}
#bo_w .tbl_frm01 th {}
#bo_w .tbl_frm01 td {}
#bo_w .tbl_frm01 textarea, #bo_w tbl_frm01 .frm_input {}
#bo_w .tbl_frm01 textarea {}
/*
#bo_w .tbl_frm01 #captcha {}
#bo_w .tbl_frm01 #captcha input {}
*/
#bo_w .tbl_frm01 a {}

/* 필수입력 */
#bo_w .required, #bo_w textarea.required {}

#bo_w .cke_sc {}
#bo_w button.btn_cke_sc{}
#bo_w .cke_sc_def {}
#bo_w .cke_sc_def dl {}
#bo_w .cke_sc_def dl:after {}
#bo_w .cke_sc_def dt, #bo_w .cke_sc_def dd {}
#bo_w .cke_sc_def dt {}
#bo_w .cke_sc_def dd {}
/* #bo_gall {text-align: center;} */
#bo_gall #gall_ul {}
/* ### 기본 스타일 커스터마이징 끝 ### */

/* 게시판 목록 */
.td_subject img {margin-left:3px}

/* 갤러리 목록 */
#bo_gall h2 {margin:0;padding:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#bo_gall #gall_ul {margin:0;padding:0;list-style:none;zoom:1}
#bo_gall #gall_ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_gall .gall_li {float:left;margin:0 20px 20px 0;width: 590px;border-top-left-radius: 25px;border-bottom-right-radius: 25px;overflow: hidden;position: relative;}
#bo_gall .gall_li:nth-child(even) {margin-right: 0;}

#bo_gall .gall_li > div {float: left;}
#bo_gall .gall_li .gall_img {width: 37%;}
#bo_gall .gall_li .gall_img img {width: 100%}
#bo_gall .gall_li .gall_img p {width: 100%;height: 230px;text-align: center;line-height: 230px;background: #ddd;font-size: 18px;}
#bo_gall .gall_li .gall_info {width: 63%;height:230px;background: #f6f6f6;padding-left: 30px;padding-top: 25px;position: relative;}
#bo_gall .gall_li .dental_name {margin-bottom: 15px;}
#bo_gall .gall_li .dental_name a {font-size: 20px;line-height: 1;font-weight: bold;}
#bo_gall .gall_li .dental_info dt {float: left;clear: both;font-size: 16px;color: #6e6e6e;min-width: 60px;margin-right: 10px;
-moz-text-align-last: justify;
-webkit-text-align-last: justify;
text-align-last: justify;}
#bo_gall .gall_li .dental_info dt:after {content: '';}
#bo_gall .gall_li .dental_info dd {float: left;font-size: 16px;font-weight: 300;color: #6e6e6e;width: 240px;-ms-word-break: keep-all;word-break: keep-all;}
#bo_gall .gall_li .dental_cate {margin-top: 15px;}
#bo_gall .gall_li .dental_cate li {float: left;margin-right: 4px;margin-bottom: 4px;}
#bo_gall .gall_li .dental_cate li a {font-size: 14px;color: #fff;display: inline-block;padding: 5px 10px;background: #9b9ff6;border-radius: 15px;}
#bo_gall .gall_li .dental_franchisee {position: absolute;right: 20px;top: 20px;}


/* 게시판 목록 공통 */
.bo_fx {margin-bottom:5px;zoom:1}
.bo_fx:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx ul {margin:0;padding:0;list-style:none}
#bo_list_total {float:left;padding-top:5px}
.btn_bo_user {float:right;margin:0;padding:0;list-style:none}
.btn_bo_user li {float:left;margin-left:5px}
.btn_bo_adm {float:left}
.btn_bo_adm li {float:left;margin-right:5px}
.btn_bo_adm input {padding:7px;border:0;background:#e8180c;color:#fff;text-decoration:none;vertical-align:middle}
.bo_notice td {background:#f7f7f2}
.bo_notice td a {font-weight:bold}
.td_num strong {color:#000}
.bo_cate_link {display:inline-block;margin:0 3px 0 0;padding:0 6px 0 0;border-right:1px solid #e7f1ed;color:#999 !important;font-weight:bold;text-decoration:none} /* 글제목줄 분류스타일 */
.bo_current {color:#e8180c}
.chk_box {position: absolute;top: 5px;left: 5px;z-index:5;}

#bo_sch {margin-bottom:10px;padding-top:5px;text-align:center}
#bo_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}

#bo_gall li.empty_list {padding:85px 0;text-align:center}

/* 게시판 쓰기 */
#char_count_desc {display:block;margin:0 0 5px;padding:0}
#char_count_wrap {margin:5px 0 0;text-align:right}
#char_count {font-weight:bold}

#autosave_wrapper {position:relative}
#autosave_pop {display:none;z-index:10;position:absolute;top:24px;right:117px;padding:8px;width:350px;height:auto !important;height:180px;max-height:180px;border:1px solid #565656;background:#fff;overflow-y:scroll}
html.no-overflowscrolling #autosave_pop {height:auto;max-height:10000px !important} /* overflow 미지원 기기 대응 */
#autosave_pop strong {position:absolute;font-size:0;line-height:0;overflow:hidden}
#autosave_pop div {text-align:right}
#autosave_pop button {margin:0;padding:0;border:0;background:transparent}
#autosave_pop ul {margin:10px 0;padding:0;border-top:1px solid #e9e9e9;list-style:none}
#autosave_pop li {padding:8px 5px;border-bottom:1px solid #e9e9e9;zoom:1}
#autosave_pop li:after {display:block;visibility:hidden;clear:both;content:""}
#autosave_pop a {display:block;float:left}
#autosave_pop span {display:block;float:right}
.autosave_close {cursor:pointer}
.autosave_content {display:none}

#register_form {width: 660px;margin:140px auto;}
#register_form {background:#fff;margin-bottom:40px;font-size: 14px;}
#register_form h2 {padding:20px;border-bottom:1px solid #dde7e9;}
.register_form_inner label {display:block;line-height:24px}
.register_form_inner label.inline {display:inline}
.register_form_inner1 label {display: none;}
.form_01 li.reg_addr {margin-top: 30px;}
#bo_w .reg_addr button.btn_frmline {height: 54px;float: right;font-size: 14px;color: #fff;}

#bo_w .form_01 li {border-bottom: 1px solid #dedede;margin-bottom: 28px;font-size: 0;}
#bo_w .form_01 label {display: inline-block;width: 180px;font-size: 15px;color: #5b5b5b;line-height: 54px;}
#bo_w .frm_input {width: 480px;height: 54px;border: none;font-size: 15px;text-align: right;color: #000000;}
#bo_w .frm_input::placeholder {color: #d0d0d0;}
#bo_w textarea.frm_input {height: 120px;}
#bo_w .form_01 .cate {position: relative;margin-bottom: 20px;}
#bo_w .form_01 .cate input[type="checkbox"] + label {width: auto;font-size: 0;}
#bo_w .form_01 .cate input[type="checkbox"] + label span {display: inline-block;width: 160px;height: 58px;border: 2px solid #c6c6c6;background: #f4f4f4;border-radius: 10px;text-align: center;font-size: 15px;font-weight: bold;margin-right: 6px;margin-bottom: 6px;cursor: pointer;}
#bo_w .form_01 .cate input[type="checkbox"] + label:nth-of-type(4n) span {margin-right: 0;}
#bo_w .form_01 .cate input[type="checkbox"]:checked + label span {border-color: #777dee;background: #dedffa;color: #777dee;}
#bo_w .form_01 .cate_pop {display: none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.3);z-index: 999;}
#bo_w .form_01 .cate_pop > div {position: relative;}
#bo_w .form_01 .cate_pop h3 {font-size: 18px;margin-bottom: 15px;text-align: center;}
#bo_w .form_01 .cate_pop .close_cate_pop {position: absolute;right: 30px;top: 33px;}
#bo_w .form_01 .cate_pop .close_cate_pop img {width: 20px;}
#bo_w .form_01 .cate_pop > div {display: none;width: 300px;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);background: #fff;padding: 30px;}
#bo_w .form_01 .cate_pop input[type="checkbox"] + label {display: block;width: auto;font-size: 16px;position: relative;padding-left: 28px;height: 40px;line-height: 40px;}
#bo_w .form_01 .cate_pop input[type="checkbox"] + label span {display: inline-block;width: 20px;height: 20px;background: url(./img/chk.png) no-repeat 50% 50% #c6c6c6;position: absolute;top: 11px;left: 0;border-radius: 50%;cursor: pointer;}
#bo_w .form_01 .cate_pop input[type="checkbox"]:checked + label span {background: url(./img/chk.png) no-repeat 50% 50% #777dee;}
#bo_w .form_01 .time {margin-bottom: 0px;}
#bo_w .form_01 .time input[type="checkbox"] + label {width: 35px;height: auto;line-height: 24px;margin-left: 10px;}
#bo_w .form_01 .time input[type="checkbox"] + label span {top: 5px;}
#bo_w .form_01 .time .chk_box {text-align: right;margin-bottom: 10px;}
#bo_w .form_01 .time .chk_box label {font-size: 15px;}
#bo_w .form_01 .filebox {margin-bottom: 0;display: inline-block;width: 480px;float: right;}
#bo_w .form_01 .filebox input[type="checkbox"] + label {height: auto;line-height: 24px;width: auto;margin-left: 10px;padding-left: 22px;}
#bo_w .form_01 .filebox input[type="checkbox"] + label span {top: 5px;}
#bo_w .form_01 .filebox .chk_box {text-align: right;margin-bottom: 10px;}
#bo_w .form_01 .filebox .chk_box label {font-size: 15px;}
#bo_w .form_01 .upload-name {vertical-align: middle; -webkit-appearance: none; -moz-appearance: none; appearance: none;width: 370px;}
#bo_w .form_01 .upload-hidden {opacity: 0;width: 0;height: 0;}
#bo_w .form_01 label.frm_label_btn{width: 90px;margin: 0 10px;height:40px; line-height:40px; border-radius:20px; background-color:#1a1a1a; color:#fff; font-size: 13px;text-align: center;}
#bo_w .form_01 label.frm_label_btn:before{content:''; display:none; margin:0;}
#bo_w .form_01 .reg_chk input[type="checkbox"] + label {width: 40px;float: right;}
#bo_w .form_01 .reg_chk input[type="checkbox"] + label span {position: static;float: right;margin-right: 20px;margin-top: 17px;width: 20px;height: 20px;}

#bo_w #msg_certify {margin:5px 0 0;padding:5px;border:1px solid #dbecff;background:#eaf4ff;text-align:center}
#bo_w #mb_addr3 {display:inline-block;margin:5px 0 0;vertical-align:middle}
#bo_w #mb_addr_jibeon {display:block;margin:5px 0 0}
#bo_w .btn_confirm {text-align:center}
#bo_w .form_01 div {margin:0 0 80px}
#bo_w .captcha {display:block;margin:5px 0 0}
#bo_w .reg_mb_img_file img {max-width:100%;height:auto}
#reg_mb_icon, #reg_mb_img {float:right}

#bo_w .chk_box {position:relative}
#bo_w .chk_box input[type="radio"] {position:absolute;top:0;left:0;width:0;height:0;opacity:0;outline:0;z-index:-1;overflow:hidden}
#bo_w .chk_box input[type="radio"] + label {position:relative;padding-left:23px;display:inline-block;color:#676e70}
#bo_w .chk_box input[type="radio"] + label span {position:absolute;top:0;left:0;width:15px;height:15px;display:block;background:#f7f8f9;border:1px solid #cdd6df;border-radius:50%}
#bo_w .chk_box input[type="radio"]:checked + label {color:#777dee}
#bo_w .chk_box input[type="radio"]:checked + label span {border-color:#777dee}
#bo_w .chk_box input[type="radio"]:checked + label span:before {width:7px;height:7px;background:#777dee;content:'';position:absolute;top:3px;left:3px;border-radius:50%}
#bo_w .chk_box input[type="checkbox"] + label {position:relative;color:#676e70}
#bo_w .chk_box input[type="checkbox"] + label:hover {color:#2172f8}
#bo_w .chk_box input[type="checkbox"] + label span {position: absolute;left: 0;top: 4px;width:15px;height:15px;display:block;background:#fff;border:1px solid #d0d4df;border-radius:3px}
#bo_w .chk_box input[type="checkbox"]:checked + label {color:#000}
#bo_w .chk_box input[type="checkbox"]:checked + label span {background:url(./img/chk.png) no-repeat 50% 50% #777dee;border-color:#777dee;border-radius:3px}
#bo_w .selec_chk {position:absolute;top:0;left:0;width:0;height:0;opacity:0;outline:0;z-index:-1;overflow:hidden}

/* 게시판 읽기 */
#bo_v {margin-bottom:20px;padding-bottom:20px}

#bo_v .view_top {border-bottom: 1px solid #b9b9b9;padding-bottom: 30px;}
#bo_v .view_top:after {content: '';display: block;clear: both;}
#bo_v .view_top .dental_name {float: left;font-size: 36px;font-family: 'S-CoreDream-7ExtraBold';line-height: 75px;}
#bo_v .view_top .view_top_btn {float: right;}
#bo_v .view_top .view_top_btn li {float: left;margin-left: 20px;}
#bo_v .view_top .view_top_btn li a {display: block;width: 210px;height: 75px;text-align: center;line-height: 75px;font-size: 20px;font-weight: bold;color: #3d3d3d;background: #ffd801;border-top-left-radius: 25px;border-bottom-right-radius: 25px;}
#bo_v .view_top .view_top_btn li:first-child a {color: #fff;background: #3d3d3d;}
#bo_v .dental_info {margin-top: 60px;margin-bottom: 80px;}
#bo_v .dental_info .dental_info_left {float: left;width: 750px;}
#bo_v .dental_info .dental_introduce {font-size: 48px;line-height: 56px;font-weight: bold;letter-spacing: -0.05em;-ms-word-break: keep-all;word-break: keep-all;margin: 10px 0 35px;}
#bo_v .dental_info .dental_cate {font-size: 20px;width: 100%;border-bottom: 1px solid #eaeaea;font-weight: 300;padding-bottom: 35px;}
#bo_v .dental_info .dental_cate dt {float: left;width: 100px;}
#bo_v .dental_info .dental_cate dd {float: left;width: 650px;-ms-word-break: keep-all;word-break: keep-all;}
#bo_v .dental_info .dental_cate span {font-size: 16px;color: #bcbcbc;}
#bo_v .dental_info .dental_detail {margin-top: 45px;}
#bo_v .dental_info .dental_detail dt {float: left;clear: both;font-size: 18px;font-weight: bold;color: #666666;width: 140px;padding-left: 38px;background-repeat: no-repeat;margin-bottom: 12px;}
#bo_v .dental_info .dental_detail dt:nth-of-type(1) {background-image: url(/images/icon_addr.png);background-position: 7px 70%;}
#bo_v .dental_info .dental_detail dt:nth-of-type(2) {background-image: url(/images/icon_time.png);background-position: 4px 70%;}
#bo_v .dental_info .dental_detail dt:nth-of-type(3) {background-image: url(/images/icon_tel.png);background-position: 3px 70%;}
#bo_v .dental_info .dental_detail dd {float: left;font-size: 18px;font-weight: 300;color: #666666;margin-bottom: 12px;}
#bo_v .dental_info .dental_detail dd span {display: inline-block;width: 65px;text-align-last: justify;}
#bo_v .dental_info .dental_info_right {float: right;position: relative;}
#bo_v .dental_info .dentist {position: absolute;bottom: 0;width: 100%;height: 150px;background: linear-gradient(transparent, rgba(0,0,0,0.7));padding-top: 50px;z-index: 10;}
#bo_v .dental_info .dentist_name {float: left;font-size: 26px;font-weight: bold;color: #fff;line-height: 1;padding-top: 25px;padding-left: 30px;letter-spacing: -0.07em;}
#bo_v .dental_info .dentist_btn {float: right;margin-right: 20px;}
#bo_v .dental_info .dentist_btn a {display: block;width: 160px;height: 68px;line-height: 68px;text-align: center;background: url(/images/btn_arr.png) no-repeat 82% 50% #838ef8;font-size: 18px;color: #fff;border-top-left-radius: 25px;border-bottom-right-radius: 25px;font-weight: bold;}
#bo_v .dental_info .antecedents {display: none;width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: rgba(0, 0, 0, 0.6);z-index: 9;padding: 50px 30px;color: #fff;font-size: 16px;}
#bo_v .dental_img {padding-bottom: 100px;margin-bottom: 100px;border-bottom: 1px solid #eaeaea;}
#bo_v .gallery-wrap {position: relative;}
#bo_v .gallery-wrap .swiper-slide {width: 32%;margin-right: 2%;}
#bo_v .gallery-wrap .swiper-slide:last-child {margin-right: 0;}
#bo_v .gallery-wrap .swiper-button-next, #bo_v .gallery-wrap .swiper-button-prev {width: 40px;height: 78px;background-size: 40px 78px;margin-top: 0;transform: translateY(-50%);}
#bo_v .gallery-wrap .swiper-button-next {background-image: url(/images/img_next.png);right: -82px;}
#bo_v .gallery-wrap .swiper-button-prev {background-image: url(/images/img_prev.png);left: -82px;}
#bo_v .dental_event {position: relative;padding-bottom: 100px;margin-bottom: 100px;border-bottom: 1px solid #eaeaea;}
#bo_v .dental_event h2 {font-size: 32px;color: #171717;font-weight: bold;margin-bottom: 25px;}
#bo_v .dental_event h2:after {content: '';display: inline-block;clear: both;width: 12px;height: 23px;background: url(/images/dental_h2_arr.png) no-repeat 50% 50%;margin-left: 20px;}
#bo_v .gall_text_href {font-size: 21px;font-weight: 500;margin: 30px 0 5px;}
#bo_v .gall_text_href span {display: block;width: 64px;height: 28px;text-align: center;line-height: 28px;font-size: 15px;color: #fff;font-weight: 300;margin-bottom: 15px;}
#bo_v .gall_date {font-size: 16px;color: #a4a4a4;font-weight: 300;}
#bo_v .dental_event .swiper-slide {width: 32%;margin-right: 2%;}
#bo_v .dental_event .swiper-slide:last-child {margin-right: 0;}
#bo_v .dental_event .swiper-button-next, #bo_v .dental_event .swiper-button-prev {width: 40px;height: 78px;background-size: 40px 78px;margin-top: 0;transform: translateY(-50%);}
#bo_v .dental_event .swiper-button-next {background-image: url(/images/img_next.png);right: -82px;}
#bo_v .dental_event .swiper-button-prev {background-image: url(/images/img_prev.png);left: -82px;}
#bo_v .dental_event .event_btn a {position: absolute;right: 0;top: 0;padding: 0;width: 132px;height: 52px;line-height: 52px;text-align: center;font-size: 18px;color: #fff;background: #707070;border-top-left-radius: 25px;border-bottom-right-radius: 25px;border: none;}
#bo_v .dental_review {position: relative;padding-bottom: 100px;margin-bottom: 100px;border-bottom: 1px solid #eaeaea;}
#bo_v .dental_review h2 {font-size: 32px;color: #171717;font-weight: bold;margin-bottom: 25px;}
#bo_v .dental_review h2:after {content: '';display: inline-block;clear: both;width: 12px;height: 23px;background: url(/images/dental_h2_arr.png) no-repeat 50% 50%;margin-left: 20px;}
#bo_v #review_wbtn .review_form {position: absolute;right: 0;top: 0;padding: 0;width: 132px;height: 52px;line-height: 52px;text-align: center;font-size: 18px;color: #fff;background: #707070;border-top-left-radius: 25px;border-bottom-right-radius: 25px;border: none;}
#bo_v #review_wrap .review_li {float: left;width: 590px;margin-bottom: 30px;border: 1px solid #cccccc;border-top-left-radius: 25px;border-bottom-right-radius: 25px;padding: 25px;position: relative;}
#bo_v #review_wrap .review_li:nth-child(odd) {clear: both;}
#bo_v #review_wrap .review_li:nth-child(even) {float: right;}
#bo_v #review_wrap .review_li:after {content: '';display: block;clear: both;}
#bo_v #review_wrap .review_li .review_thum {float: left;width: 128px;height: 128px;margin-right: 30px;text-align: center;overflow: hidden;border-radius: 50%;position: relative;}
#bo_v #review_wrap .review_li .review_thum img {width: 100%;}
#bo_v #review_wrap .review_li .review_thum img.rv_thumb_image {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
#bo_v #review_wrap .review_li .review_con {float: left;width: 380px;padding-top: 7px;}
#bo_v #review_wrap .review_li .review_dental {font-size: 17px;line-height: 1;margin-bottom: 2px;}
#bo_v #review_wrap .review_li dl {padding-right: 60px;}
#bo_v #review_wrap .review_li dt {font-size: 0;width: 0;height: 0;text-indent: -9999em;}
#bo_v #review_wrap .review_li dd {font-size: 17px;color: #aeaeae;}
#bo_v #review_wrap .review_li dd.dd_name {float: left;/* border-right: 1px solid #aeaeae; */line-height: 14px;padding-right: 10px;margin-right: 10px;}
#bo_v #review_wrap .review_li dd.dd_date {line-height: 14px;}
#bo_v #review_wrap .review_li .review_tit {font-size: 21px;color: #3d3d3d;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-break: break-word;}
#bo_v #review_wrap .review_li .review_tit strong {color: #9196ff;}
#bo_v #review_wrap .review_li .review_txt {margin-top: 8px;font-size: 18px; color: #3d3d3d; font-weight: 400;line-height: 22px;letter-spacing: -0.02em;display: -webkit-box;display: box;vertical-align: top;overflow: hidden;text-overflow: ellipsis;word-break: keep-all;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
#bo_v #review_wrap .review_li .review_cmd {margin-top: 12px;}
#bo_v #review_wrap .review_li .write_cmd a {width: 49%;}
#bo_v #review_wrap .review_li .admin_cmd a {width: 100%;}
#bo_v #review_wrap .review_li .review_cmd a {display: inline-block;text-align: center;height: 40px;padding: 5px 15px;font-size: 18px;border-radius: 3px;}
#bo_v #review_wrap .review_li .review_cmd a.review_delete {background: #767676;color: #fff;}
#bo_v #review_wrap .review_li .review_cmd a.adm_delete {background: #767676;color: #fff;}
#bo_v #review_wrap .review_li .review_detail {border: none;background: none;position: absolute;top: 27px;right: 30px;}
#bo_v #review .pg_wrap {margin-top: 30px;}

#bo_v .dental_addr .dental_addr_h {font-size: 32px;font-weight: bold;line-height: 1;margin-bottom: 30px;}
#bo_v .dental_addr .dental_map {float: left;}
#bo_v .dental_addr .dental_map #map {width: 670px;height: 400px;}
#bo_v .dental_addr .dental_info2 {float: right;width: 470px;padding-top: 60px;}
#bo_v .dental_addr .dental_name2 {font-size: 32px;font-weight: bold;padding-left: 10px;padding-bottom: 30px;line-height: 1;border-bottom: 1px solid #000;}
#bo_v .dental_addr .dental_detail2 {padding-left: 10px;margin-top: 20px;font-weight: 300;font-size: 19px;line-height: 34px;}
#bo_v .dental_addr .dental_detail2 dt {float: left;clear: both;margin-right: 5px;}
#bo_v .dental_addr .dental_detail2 dt:nth-of-type(1) {width: 44px;}
#bo_v .dental_addr .dental_detail2 dd {float: left;-ms-word-break: keep-all;word-break: keep-all;}
#bo_v .dental_addr .dental_detail2 dd:nth-of-type(1) {width: 400px;}

#bo_v_table {position:absolute;top:0;right:16px;margin:0;padding:0 5px;height:25px;background:#ff3061;color:#fff;font-weight:bold;line-height:2.2em; display:none;}

#bo_v_title {padding:10px 0;font-size:1.2em}

#bo_v_info {padding:0 0 10px;border-bottom:0px solid #ddd}
#bo_v_info h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_info strong {display:inline-block;margin:0 15px 0 5px;font-weight:normal}
#bo_v_info .sv_member,
#bo_v_info .sv_guest,
#bo_v_info .member,
#bo_v_info .guest {font-weight:bold}

#bo_v_file {}
#bo_v_file h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_file ul {margin:0;padding:0;list-style:none}
#bo_v_file li {padding:0 10px;border-bottom:1px solid #eee;background:#f5f6fa}
#bo_v_file a {display:inline-block;padding:8px 0 7px;width:100%;color:#000;word-wrap:break-word}
#bo_v_file a:focus, #bo_v_file a:hover, #bo_v_file a:active {text-decoration:none}
#bo_v_file img {float:left;margin:0 10px 0 0}
.bo_v_file_cnt {display:inline-block;margin:0 0 3px 16px}

#bo_v_link {}
#bo_v_link h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_link ul {margin:0;padding:0;list-style:none}
#bo_v_link li {padding:0 10px;border-bottom:1px solid #eee;background:#f5f6fa}
#bo_v_link a {display:inline-block;padding:8px 0 7px;width:100%;color:#000;word-wrap:break-word}
#bo_v_link a:focus, #bo_v_link a:hover, #bo_v_link a:active {text-decoration:none}
.bo_v_link_cnt {display:inline-block;margin:0 0 3px 16px}

#bo_v_top {margin:0 0 10px;padding:10px 0;zoom:1}
#bo_v_top:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_top ul {margin:0;padding:0;list-style:none}

#bo_v_bot {zoom:1; margin-top:8px;}
#bo_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_bot h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_bot ul {margin:0;padding:0;list-style:none}

.bo_v_nb {float:left}
.bo_v_nb li {float:left;margin-right:5px}
.bo_v_com {float:right}
.bo_v_com li {float:left;margin-left:5px}

#bo_v_atc {min-height:200px;height:auto !important;height:200px}
#bo_v_atc_title {position:absolute;font-size:0;line-height:0;overflow:hidden}

#bo_v_img {width: 385px;height: 490px;overflow:hidden;zoom:1;position: relative;background: #fff;}
#bo_v_img:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_img img {width: 100%;max-width: none;position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);}

#bo_v_con {margin-bottom:30px;width:100%;line-height:1.7em;word-break:break-all;overflow:hidden; font-family:"나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic";}
#bo_v_con a {color:#000;text-decoration:underline}
#bo_v_con img {max-width:100%;height:auto;}

#bo_v_act {margin-bottom:30px;text-align:center}
#bo_v_act .bo_v_act_gng {position:relative}
#bo_v_act a {margin-right:5px;vertical-align:middle}
#bo_v_act strong {color:#ff3061}
#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:30px;left:0;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}

/* #bo_v_sns {margin:0 0 20px;padding:0;list-style:none;zoom:1}
#bo_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_sns li {float:left;margin:0 5px 0 0} */

/* 게시판 댓글 */
#bo_vc {margin:0 0 20px;padding:20px 20px 10px;border:1px solid #e5e8ec;font-family:"나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic";}
#bo_vc h2 {margin-bottom:10px; font-family:"나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic";}
#bo_vc article {padding:0 0 10px;border-top:1px dotted #ccc}
#bo_vc header {position:relative;padding:15px 0 5px}
#bo_vc header .icon_reply {position:absolute;top:15px;left:-20px}
#bo_vc .sv_wrap {margin-right:15px}
#bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest {font-weight:bold; font-family:"나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic";}
.bo_vc_hdinfo {display:inline-block;margin:0 15px 0 5px}
#bo_vc h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc a {color:#000;text-decoration:none}
#bo_vc p {padding:0 0 5px;line-height:1.8em}
#bo_vc p a {text-decoration:underline}
#bo_vc_empty {margin:0;padding:20px !important;text-align:center; font-family:"나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic";}
#bo_vc #bo_vc_winfo {float:left}
#bo_vc footer {zoom:1}
#bo_vc footer:after {display:block;visibility:hidden;clear:both;content:""}

.bo_vc_act {float:right;margin:0;list-style:none;zoom:1}
.bo_vc_act:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_act li {float:left;margin-left:5px}

#bo_vc_w {position:relative;margin:0 0 10px;padding:0 0 20px;border-bottom:0px solid #cfded8}
#bo_vc_w h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc_w #char_cnt {display:block;margin:0 0 5px}

#bo_vc_sns {margin:0;padding:0;list-style:none;zoom:1}
#bo_vc_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc_sns li {float:left;margin:0 20px 0 0}
#bo_vc_sns input {margin:0 0 0 5px}

.jtbl_wrap table {width:100%;border-collapse:collapse;border-spacing:0}
.jtbl_wrap caption {padding:10px 0;font-weight:bold;text-align:left}

/* 폼 테이블 */
.jtbl_frm01 {margin:0 0 20px}
.jtbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0;border:0;}
.jtbl_frm01 th {width:120px;padding:7px 5px 7px 15px;border:1px solid #e9e9e9;border-left:0;text-align:left;font-size: 14px;color: #333;font-weight: 500;background: #f8f8f8;}
.jtbl_frm01 td {padding:7px 10px 7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent; }
.jtbl_frm01 textarea, .frm_input {}
.jtbl_frm01 textarea {padding:2px 2px 3px}
.frm_input {height:30px;border-radius:0;padding:0 5px;}
.jtbl_frm01 textarea {width:98%;height:100px}
.jtbl_frm01 a {text-decoration:none}
.jtbl_frm01 .frm_file {display:block;padding: 0;}
.jtbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}

#bo_sch {margin-top:70px;text-align:center;}
#bo_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#bo_sch #sfl {height:30px!important; vertical-align:middle!important;  border:1px solid #b6b6b6; margin-right:1px; font-family:"나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic";}
#bo_sch #stx {height:30px; border:1px solid #b6b6b6; background-color:#FFFFFF; width:149px; padding:0; font-family:"나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic";border-radius:0;}
#bo_sch #btn{border:1px solid #e0e0e0; border-left:0px; margin-left:-3px;}
.pagenation .btn>img{vertical-align:middle; margin-top:-1px;}



/**게시판 버튼  CSS**/

/* Button Reset */
.jbutton,
.jbutton a,
.jbutton button,
.jbutton input { position:relative; margin:0; display:-moz-inline-stack; display:inline-block; text-decoration:none !important; border:0; font-size:12px; white-space:nowrap; background:url(img/buttonWhite.gif) no-repeat; overflow:visible; color:#333;}
.jbutton { height:23px; padding:0; vertical-align:middle; margin-right:2px; background-position:left top;}
.jbutton a,
.jbutton button,
.jbutton input{ left:0px; vertical-align:top; cursor:pointer;}
.jbutton input{ left:0px; vertical-align:top; cursor:pointer;}

/* Button Size */
.jbutton.large { height:30px; background-position:left -30px; margin-top:-1px; }
.jbutton a,
.jbutton button,
.jbutton input { height:23px; padding:0 10px 0 8px; font-size:12px; line-height:23px; background-position:right top;}
.jbutton.large a,
.jbutton.large button,
.jbutton.large input { height:30px; padding:0 12px 0 10px; font-family:"나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic"; font-size:13px; line-height:30px; background-position:right -30px;}
.button.small a,
.button.small button,
.button.small input { height:18px; padding:0 6px 0 4px; font-size:11px; font-family:"나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic"; line-height:18px; background-position:right -107px;}

.jbutton .width_j{padding:0 22px 0 19px!important; }
.jbutton .width_j2{padding:0 22px 0 18px!important;}

/* Button Text Color */
.jbutton *:hover,
.jbutton *:active,
.jbutton *:focus{ background-image:url(img/buttonBlack_h.gif)!important;  color:#fff;}
.jbutton.green,
.jbutton.green a,
.jbutton.green button,
.jbutton.green input { background-image:url(img/buttonGreen.gif); color:#fff;}
.jbutton.green *:hover,
.jbutton.green *:active,
.jbutton.green *:focus{ color:#ff0;}
.jbutton.black,
.jbutton.black a,
.jbutton.black button,
.jbutton.black input { background-image:url(img/buttonBlack.gif); color:#fff!important;}
.jbutton.black *:hover,
.jbutton.black *:active,
.jbutton.black *:focus{  }


#bo_w button.btn_frmline { border-radius:0;height: 30px;margin-left: 3px; }

#bo_v_share{position:relative;margin:20px 0;text-align:right}
#bo_v_share .btn{padding:0 10px 0 0;color:#555;font-weight:normal;font-size:1em ;line-height:30px;height:32px;border-radius:0;border-color:#d5d5d5}
#bo_v_share .btn:hover{background:#fff}
#bo_v_share .btn i{margin-right:5px;;background:#eee;color:#333;text-align:center;width:30px;line-height:30px;vertical-align:top;}
#bo_v_share .btn_share{}
#bo_v_share .btn_share:hover{}

.bo_v_snswr{position:relative;display:inline-block;margin-left:-1px}
#bo_v_sns {display:none;position:absolute;top:-50px;left:50%;margin-left:-90px;width:180px;padding:0;list-style:none;zoom:1}
#bo_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_sns:before{content: "";position: absolute;bottom: -7px;left: 84px;width: 0;height: 0;border-style: solid;border-width: 7px 6px 0 6px;border-color: #415b92 transparent transparent transparent;}
#bo_v_sns li {float:left;;width:60px;text-align:center}
#bo_v_sns li a{height:40px;padding:10px 0;}
#bo_v_sns li .sns_f{display:block;background:#415b92}
#bo_v_sns li .sns_t{display:block;background:#35b3dc}
#bo_v_sns li .sns_g{display:block;background:#d5503a}
#bo_v_sns li img{vertical-align:top}

/* 반응형 css */
@media only screen and (max-width: 1280px) { /* viewport width : 1280 */

/* 갤러리 목록 */
#bo_gall h2 {width:0.0781vw;height:0.0781vw;}
#bo_gall .gall_li {margin:0 1.5625vw 1.5625vw 0;width: 46.0938vw;border-top-left-radius: 1.9531vw;border-bottom-right-radius: 1.9531vw;}

#bo_gall .gall_li .gall_img p {height: 17.8297vw;line-height: 17.8297vw;font-size: 1.4063vw;}
#bo_gall .gall_li .gall_info {height:17.8297vw;padding-left: 2.3438vw;padding-top: 1.9531vw;}
#bo_gall .gall_li .dental_name {margin-bottom: 1.1719vw;}
#bo_gall .gall_li .dental_name a {font-size: 1.5625vw;}
#bo_gall .gall_li .dental_info dt {font-size: 1.2500vw;min-width: 4.6875vw;margin-right: 0.7813vw;}
#bo_gall .gall_li .dental_info dd {font-size: 1.2500vw;width:18.7500vw;}
#bo_gall .gall_li .dental_cate {margin-top: 1.1719vw;}
#bo_gall .gall_li .dental_cate li {margin-right: 0.3125vw;margin-bottom: 0.3125vw;}
#bo_gall .gall_li .dental_cate li a {font-size: 1.0938vw;padding: 0.3906vw 0.7813vw;border-radius: 1.1719vw;}
#bo_gall .gall_li .dental_franchisee {right: 1.5625vw;top: 1.5625vw;}
#bo_gall .gall_li .dental_franchisee img {width: 2.5000vw;}

/* 게시판 쓰기 */
#register_form {width: 51.5625vw;margin:10.9375vw auto;}
#register_form {margin-bottom:3.1250vw;font-size: 1.0938vw;}
#register_form h2 {padding:1.5625vw;border-bottom:0.0781vw solid #dde7e9;}
.register_form_inner label {line-height:1.8750vw}
.form_01 li.reg_addr {margin-top: 2.3438vw;}
#bo_w .reg_addr button.btn_frmline {height: 4.2188vw;font-size: 1.0938vw;}

#bo_w .form_01 li {border-bottom: 0.0781vw solid #dedede;margin-bottom: 2.1875vw;}
#bo_w .form_01 label {width: 14.0625vw;font-size: 1.1719vw;line-height: 4.2188vw;}
#bo_w .frm_input {width: 37.5000vw;height: 4.2188vw;font-size: 1.1719vw;}
#bo_w textarea.frm_input {height: 9.3750vw;}
#bo_w .form_01 .cate {margin-bottom: 1.5625vw;}
#bo_w .form_01 .cate input[type="checkbox"] + label span {width: 12.5000vw;height: 4.5313vw;border: 0.1563vw solid #c6c6c6;border-radius: 0.7813vw;font-size: 1.1719vw;margin-right: 0.4688vw;margin-bottom: 0.4688vw;}
#bo_w .form_01 .cate_pop h3 {font-size: 1.4063vw;margin-bottom: 1.1719vw;}
#bo_w .form_01 .cate_pop .close_cate_pop {right: 2.3438vw;top: 2.5781vw;}
#bo_w .form_01 .cate_pop .close_cate_pop img {width: 1.5625vw;}
#bo_w .form_01 .cate_pop > div {width: 23.4375vw;padding: 2.3438vw;}
#bo_w .form_01 .cate_pop input[type="checkbox"] + label {font-size: 1.2500vw;padding-left: 2.1875vw;height: 3.1250vw;line-height: 3.1250vw;}
#bo_w .form_01 .cate_pop input[type="checkbox"] + label span {width: 1.5625vw;height: 1.5625vw;background: url(./img/chk.png) no-repeat 50% 50% #c6c6c6;background-size: 0.9375vw;top: 0.8594vw;}
#bo_w .form_01 .cate_pop input[type="checkbox"]:checked + label span {background: url(./img/chk.png) no-repeat 50% 50% #777dee;background-size: 0.9375vw;}
#bo_w .form_01 .time input[type="checkbox"] + label {width: 2.7344vw;line-height: 1.8750vw;margin-left: 0.7813vw;}
#bo_w .form_01 .time input[type="checkbox"] + label span {top: 0.3906vw;}
#bo_w .form_01 .time .chk_box {margin-bottom: 0.7813vw;}
#bo_w .form_01 .time .chk_box label {font-size: 1.1719vw;}
#bo_w .form_01 .filebox {width: 37.5000vw;}
#bo_w .form_01 .filebox input[type="checkbox"] + label {line-height: 1.8750vw;margin-left: 0.7813vw;padding-left: 1.7188vw;}
#bo_w .form_01 .filebox input[type="checkbox"] + label span {top: 0.3906vw;}
#bo_w .form_01 .filebox .chk_box {margin-bottom: 0.7813vw;}
#bo_w .form_01 .filebox .chk_box label {font-size: 1.1719vw;}
#bo_w .form_01 .upload-name {width: 28.9063vw;}
#bo_w .form_01 label.frm_label_btn{width: 7.0313vw;margin: 0 0.7813vw;height:3.1250vw; line-height:3.1250vw; border-radius:1.5625vw;font-size: 1.0156vw;}
#bo_w .form_01 .reg_chk input[type="checkbox"] + label {width: 3.1250vw;}
#bo_w .form_01 .reg_chk input[type="checkbox"] + label span {margin-right: 1.5625vw;margin-top: 1.3281vw;width: 1.5625vw;height: 1.5625vw;}

#bo_w #msg_certify {margin:0.3906vw 0 0;padding:0.3906vw;border:0.0781vw solid #dbecff;}
#bo_w #mb_addr3 {margin:0.3906vw 0 0;}
#bo_w #mb_addr_jibeon {margin:0.3906vw 0 0}
#bo_w .form_01 div {margin:0 0 6.2500vw}
#bo_w .captcha {margin:0.3906vw 0 0}

#bo_w .chk_box input[type="radio"] + label {padding-left:1.7969vw;}
#bo_w .chk_box input[type="radio"] + label span {width:1.1719vw;height:1.1719vw;border:0.0781vw solid #cdd6df;}
#bo_w .chk_box input[type="radio"]:checked + label span:before {width:0.5469vw;height:0.5469vw;top:0.2344vw;left:0.2344vw;}
#bo_w .chk_box input[type="checkbox"] + label span {top: 0.3125vw;width:1.1719vw;height:1.1719vw;border:0.0781vw solid #d0d4df;border-radius:0.2344vw}
#bo_w .chk_box input[type="checkbox"]:checked + label span {background:url(./img/chk.png) no-repeat 50% 50% #777dee;background-size: 0.9375vw;border-radius:0.2344vw}

/* 게시판 읽기 */
#bo_v {margin-bottom:1.5625vw;padding-bottom:1.5625vw}

#bo_v .view_top {padding-bottom: 2.3438vw;}
#bo_v .view_top .dental_name {font-size: 2.8125vw;line-height: 5.8594vw;}
#bo_v .view_top .view_top_btn li {margin-left: 1.5625vw;}
#bo_v .view_top .view_top_btn li a {width: 16.4063vw;height: 5.8594vw;line-height: 5.8594vw;font-size: 1.5625vw;border-top-left-radius: 1.9531vw;border-bottom-right-radius: 1.9531vw;}
#bo_v .dental_info {margin-top: 4.6875vw;margin-bottom: 6.2500vw;}
#bo_v .dental_info .dental_info_left {width: 58.5938vw;}
#bo_v .dental_info .dental_introduce {font-size: 3.7500vw;line-height: 4.3750vw;margin: 0.7813vw 0 2.7344vw;}
#bo_v .dental_info .dental_cate {font-size: 1.5625vw;padding-bottom: 2.7344vw;}
#bo_v .dental_info .dental_cate dt {width: 7.8125vw;}
#bo_v .dental_info .dental_cate dd {width: 50.7813vw;}
#bo_v .dental_info .dental_cate span {font-size: 1.2500vw;}
#bo_v .dental_info .dental_detail {margin-top: 3.5156vw;}
#bo_v .dental_info .dental_detail dt {font-size: 1.4063vw;width: 10.9375vw;padding-left: 2.9688vw;margin-bottom: 0.9375vw;}
#bo_v .dental_info .dental_detail dt:nth-of-type(1) {background-image: url(/images/icon_addr.png);background-position: 0.5469vw 70%;background-size: 1.0156vw;}
#bo_v .dental_info .dental_detail dt:nth-of-type(2) {background-image: url(/images/icon_time.png);background-position: 0.3125vw 70%;background-size: 1.4844vw;}
#bo_v .dental_info .dental_detail dt:nth-of-type(3) {background-image: url(/images/icon_tel.png);background-position: 0.2344vw 70%;background-size: 1.6406vw;}
#bo_v .dental_info .dental_detail dd {font-size: 1.4063vw;margin-bottom: 0.9375vw;}
#bo_v .dental_info .dental_detail dd span {width: 5.0781vw;text-align-last: justify;}
#bo_v .dental_info .dentist {height: 11.7188vw;padding-top: 3.9063vw;}
#bo_v .dental_info .dentist_name {font-size: 2.0313vw;line-height: 1;padding-top: 1.9531vw;padding-left: 2.3438vw;}
#bo_v .dental_info .dentist_btn {margin-right: 1.5625vw;}
#bo_v .dental_info .dentist_btn a {width: 12.5000vw;height: 5.3125vw;line-height: 5.3125vw;background-size: 0.6250vw;font-size: 1.4063vw;border-top-left-radius: 1.9531vw;border-bottom-right-radius: 1.9531vw;}
#bo_v .dental_info .antecedents {padding: 3.9063vw 2.3438vw;font-size: 1.2500vw;}
#bo_v .dental_img {padding-bottom: 7.8125vw;margin-bottom: 7.8125vw;}
#bo_v .gallery-wrap .swiper-button-next, #bo_v .gallery-wrap .swiper-button-prev {width: 3.1250vw;height: 6.0938vw;background-size: 3.1250vw 6.0938vw;}
#bo_v .gallery-wrap .swiper-button-next {background-image: url(/images/img_next.png);right: -6.4063vw;}
#bo_v .gallery-wrap .swiper-button-prev {background-image: url(/images/img_prev.png);left: -6.4063vw;}
#bo_v .dental_event {padding-bottom: 7.8125vw;margin-bottom: 7.8125vw;}
#bo_v .dental_event h2 {font-size: 2.5000vw;margin-bottom: 1.9531vw;}
#bo_v .dental_event h2:after {width: 0.9375vw;height: 1.7969vw;margin-left: 1.5625vw;background-size: 0.9375vw;}
#bo_v .gall_text_href {font-size: 1.6406vw;margin: 2.3438vw 0 0.3906vw;}
#bo_v .gall_text_href span {width: 5.0000vw;height: 2.1875vw;line-height: 2.1875vw;font-size: 1.1719vw;margin-bottom: 1.1719vw;}
#bo_v .gall_date {font-size: 1.2500vw;}
#bo_v .dental_event .swiper-button-next, #bo_v .dental_event .swiper-button-prev {width: 3.1250vw;height: 6.0938vw;background-size: 3.1250vw 6.0938vw;}
#bo_v .dental_event .swiper-button-next {background-image: url(/images/img_next.png);right: -6.4063vw;}
#bo_v .dental_event .swiper-button-prev {background-image: url(/images/img_prev.png);left: -6.4063vw;}
#bo_v .dental_event .event_btn a {right: 0;top: 0;padding: 0;width: 10.3125vw;height: 4.0625vw;line-height: 4.0625vw;font-size: 1.4063vw;background: #707070;border-top-left-radius: 1.9531vw;border-bottom-right-radius: 1.9531vw;border: none;}
#bo_v .dental_review {padding-bottom: 7.8125vw;margin-bottom: 7.8125vw;}
#bo_v .dental_review h2 {font-size: 2.5000vw;margin-bottom: 1.9531vw;}
#bo_v .dental_review h2:after {width: 0.9375vw;height: 1.7969vw;margin-left: 1.5625vw;background-size: 0.9375vw;}
#bo_v #review_wbtn .review_form {width: 10.3125vw;height: 4.0625vw;line-height: 4.0625vw;font-size: 1.4063vw;border-top-left-radius: 1.9531vw;border-bottom-right-radius: 1.9531vw;}
#bo_v #review_wrap .review_li {width: 46.0938vw;margin-bottom: 2.3438vw;border-top-left-radius: 1.9531vw;border-bottom-right-radius: 1.9531vw;padding: 1.9531vw;}
#bo_v #review_wrap .review_li .review_thum {width: 10.0000vw;height: 10.0000vw;margin-right: 2.3438vw;}
#bo_v #review_wrap .review_li .review_con {width: 29vw;padding-top: 0.5469vw;}
#bo_v #review_wrap .review_li .review_dental {font-size: 1.3281vw;margin-bottom: 0.1563vw;}
#bo_v #review_wrap .review_li dl {padding-right: 4.6875vw;}
#bo_v #review_wrap .review_li dd {font-size: 1.3281vw;}
#bo_v #review_wrap .review_li dd.dd_name {line-height: 1.0938vw;padding-right: 0.7813vw;margin-right: 0.7813vw;}
#bo_v #review_wrap .review_li dd.dd_date {line-height: 1.0938vw;}
#bo_v #review_wrap .review_li .review_tit {font-size: 1.6406vw;}
#bo_v #review_wrap .review_li .review_txt {margin-top: 0.6250vw;font-size: 1.4063vw;  line-height: 1.7188vw;}
#bo_v #review_wrap .review_li .review_cmd {margin-top: 0.9375vw;}
#bo_v #review_wrap .review_li .write_cmd a {width: 49%;}
#bo_v #review_wrap .review_li .admin_cmd a {width: 100%;}
#bo_v #review_wrap .review_li .review_cmd a {height: 3.1250vw;padding: 0.3906vw 1.1719vw;font-size: 1.4063vw;border-radius: 0.2344vw;}
#bo_v #review_wrap .review_li .review_cmd a.review_delete {background: #767676;}
#bo_v #review_wrap .review_li .review_detail {top: 2.1094vw;right: 2.3438vw;}
#bo_v #review_wrap .review_li .review_detail img {width: 3.5156vw;}
#bo_v #review .pg_wrap {margin-top: 2.3438vw;}

#bo_v .dental_addr .dental_addr_h {font-size: 2.5000vw;margin-bottom: 2.3438vw;}
#bo_v .dental_addr .dental_map {}
#bo_v .dental_addr .dental_map #map {width: 52.3438vw;height: auto;padding-top: 31.2500vw;}
#bo_v .dental_addr .dental_info2 {width: 36.7188vw;padding-top: 4.6875vw;}
#bo_v .dental_addr .dental_name2 {font-size: 2.5000vw;padding-left: 0.7813vw;padding-bottom: 2.3438vw;}
#bo_v .dental_addr .dental_detail2 {padding-left: 0.7813vw;margin-top: 1.5625vw;font-size: 1.4844vw;line-height: 2.6563vw;}
#bo_v .dental_addr .dental_detail2 dt {margin-right: 0.3906vw;}
#bo_v .dental_addr .dental_detail2 dt:nth-of-type(1) {width: 3.4375vw;}
#bo_v .dental_addr .dental_detail2 dd:nth-of-type(1) {width: 31.2500vw;}

#bo_v_img {width: 30.0781vw;height: 38.2813vw}

/**게시판 버튼  CSS**/

/* Button Reset */
.jbutton,
.jbutton a,
.jbutton button,
.jbutton input {margin:0;font-size:0.9375vw;}
.jbutton { height:1.7969vw; margin-right:0.1563vw; }

/* Button Size */
.jbutton.large { height:2.3438vw; background-position:left -2.3438vw; margin-top:-0.0781vw; }
.jbutton a,
.jbutton button,
.jbutton input { height:1.7969vw; padding:0 0.7813vw 0 0.6250vw; font-size:0.9375vw; line-height:1.7969vw; }
.jbutton.large a,
.jbutton.large button,
.jbutton.large input { height:2.3438vw; padding:0 0.9375vw 0 0.7813vw; font-size:1.0156vw; line-height:2.3438vw; background-position:right -2.3438vw;}
.button.small a,
.button.small button,
.button.small input { height:1.4063vw; padding:0 0.4688vw 0 0.3125vw; font-size:0.8594vw; line-height:1.4063vw; background-position:right -8.3594vw;}

.jbutton .width_j{padding:0 1.7188vw 0 1.4844vw!important; }
.jbutton .width_j2{padding:0 1.7188vw 0 1.4063vw!important;}

/* Button Text Color */
.jbutton *:hover,
.jbutton *:active,
.jbutton *:focus{ background-image:url(img/buttonBlack_h.gif)!important; background-size: 46.8750vw;}
.jbutton.green,
.jbutton.green a,
.jbutton.green button,
.jbutton.green input { background-image:url(img/buttonGreen.gif); background-size: 46.8750vw;}
.jbutton.green *:hover,
.jbutton.green *:active,
.jbutton.green *:focus{ }
.jbutton.black,
.jbutton.black a,
.jbutton.black button,
.jbutton.black input { background-image:url(img/buttonBlack.gif); background-size: 46.8750vw;}

#bo_sch {margin-top:5.4688vw;}
#bo_sch #sfl {height:2.3438vw!important;margin-right:0.0781vw;}
#bo_sch #stx {height:2.3438vw; width:11.6406vw; }
#bo_sch #btn{border-left:0.0000vw; margin-left:-0.2344vw;}

}

/* 반응형 css */
@media only screen and (max-width: 768px) { /* viewport width : 768 */

/* 갤러리 목록 */
#bo_gall .gall_li {float:none;margin:0 0.0000vw 3.2552vw 0;width: 100%;border-top-left-radius: 4.5573vw;border-bottom-right-radius: 4.5573vw;}

#bo_gall .gall_li .gall_img p {height: 36.1979vw;line-height: 36.1979vw;font-size: 2.8646vw;}
#bo_gall .gall_li .gall_info {height:36.1979vw;padding-left: 3.9063vw;padding-top: 3.9063vw;}
#bo_gall .gall_li .dental_name {margin-bottom: 1.9531vw;}
#bo_gall .gall_li .dental_name a {font-size: 3.3854vw;}
#bo_gall .gall_li .dental_info dt {font-size: 2.9948vw;min-width: 10.4167vw;margin-right: 2.6042vw;}
#bo_gall .gall_li .dental_info dd {font-size: 2.9948vw;width: 39.0625vw;}
#bo_gall .gall_li .dental_franchisee {right: 3.1250vw;top: 2.6042vw;}
#bo_gall .gall_li .dental_franchisee img {width: 5.7292vw;}

/* 게시판 쓰기 */
#register_form {width: 83.3333vw;margin:28.6458vw auto;}
#register_form {margin-bottom:5.2083vw;font-size: 1.8229vw;}
#register_form h2 {padding:2.6042vw;border-bottom:0.1302vw solid #dde7e9;}
.register_form_inner label {line-height:3.1250vw}
.form_01 li.reg_addr {margin-top: 3.9063vw;}
#bo_w .reg_addr button.btn_frmline {height: 8.3333vw;font-size: 2.6042vw;}

#bo_w .form_01 li {border-bottom: 0.1302vw solid #dedede;margin-bottom: 3.6458vw;font-size: 0;}
#bo_w .form_01 label {width: 26.0417vw;font-size: 3.1250vw;line-height: 8.3333vw;}
#bo_w .frm_input {width: 57.2917vw;height: 8.3333vw;font-size: 3.1250vw;}
#bo_w textarea.frm_input {height: 15.6250vw;}
#bo_w .form_01 .cate {margin-bottom: 2.6042vw;}
#bo_w .form_01 .cate input[type="checkbox"] + label span {width: 26.5625vw;height: 10.1563vw;line-height: 9.6354vw;border: 0.2604vw solid #c6c6c6;border-radius: 1.3021vw;font-size: 2.6042vw;margin-right: 1.8229vw;margin-bottom: 1.8229vw;letter-spacing: -0.08em;}
#bo_w .form_01 .cate input[type="checkbox"] + label:nth-of-type(4n) span {margin-right: 1.8229vw;}
#bo_w .form_01 .cate input[type="checkbox"] + label:nth-of-type(3n) span {margin-right: 0;}
#bo_w .form_01 .cate_pop h3 {font-size: 3.1250vw;margin-bottom: 3.2552vw;}
#bo_w .form_01 .cate_pop .close_cate_pop {right: 3.9063vw;top: 4.9479vw;}
#bo_w .form_01 .cate_pop .close_cate_pop img {width: 2.6042vw;}
#bo_w .form_01 .cate_pop > div {width: 54.6875vw;padding: 3.9063vw;}
#bo_w .form_01 .cate_pop input[type="checkbox"] + label {font-size: 2.6042vw;padding-left: 4.4271vw;height: 6.5104vw;line-height: 6.5104vw;}
#bo_w .form_01 .cate_pop input[type="checkbox"] + label span {width: 3.1250vw;height: 3.1250vw;background: url(./img/chk.png) no-repeat 50% 50% #c6c6c6;background-size: 1.8229vw;top: 1.8229vw;}
#bo_w .form_01 .cate_pop input[type="checkbox"]:checked + label span {background: url(./img/chk.png) no-repeat 50% 50% #777dee;background-size: 1.8229vw;}
#bo_w .form_01 .time input[type="checkbox"] + label {width: 5.8594vw;line-height: 4.1667vw;margin-left: 3.2552vw;}
#bo_w .form_01 .time input[type="checkbox"] + label span {top: 0.9115vw;}
#bo_w .form_01 .time .chk_box {margin-bottom: 1.3021vw;}
#bo_w .form_01 .time .chk_box label {font-size: 2.6042vw;}
#bo_w .form_01 .filebox {width: 57.2917vw;}
#bo_w .form_01 .filebox input[type="checkbox"] + label {line-height: 4.1667vw;margin-left: 3.2552vw;padding-left: 3.6458vw;}
#bo_w .form_01 .filebox input[type="checkbox"] + label span {top: 0.9115vw;}
#bo_w .form_01 .filebox .chk_box {margin-bottom: 1.3021vw;}
#bo_w .form_01 .filebox .chk_box label {font-size: 2.6042vw;}
#bo_w .form_01 .upload-name {width: 39.0625vw;}
#bo_w .form_01 label.frm_label_btn{width: 16.9271vw;margin: 0 0.6510vw;height:7.0313vw; line-height:7.0313vw; border-radius:3.5156vw;font-size: 2.6042vw;}
#bo_w .form_01 .reg_chk input[type="checkbox"] + label {width: 5.2083vw;}
#bo_w .form_01 .reg_chk input[type="checkbox"] + label span {margin-right: 2.6042vw;margin-top: 2.6042vw;width: 3.1250vw;height: 3.1250vw;}

#bo_w #msg_certify {margin:0.6510vw 0 0;padding:0.6510vw;border:0.1302vw solid #dbecff;}
#bo_w #mb_addr3 {margin:0.6510vw 0 0;}
#bo_w #mb_addr_jibeon {margin:0.6510vw 0 0}
#bo_w .form_01 div {margin:0 0 10.4167vw}
#bo_w .captcha {margin:0.6510vw 0 0}

#bo_w .chk_box input[type="checkbox"] + label span {top: 1.3021vw;width:2.6042vw;height:2.6042vw;}
#bo_w .chk_box input[type="checkbox"]:checked + label span {background:url(./img/chk.png) no-repeat 50% 50% #777dee;background-size: 1.8229vw;}

/* 게시판 읽기 */
#bo_v {margin-bottom:2.6042vw;padding-bottom:2.6042vw}

#bo_v .view_top {padding-bottom: 9.1146vw;}
#bo_v .view_top .dental_name {float: none;text-align: center;font-size: 6.2500vw;line-height: 6.2500vw;}
#bo_v .view_top .view_top_btn {float: none;display: table;margin: 14.9740vw auto 0;}
#bo_v .view_top .view_top_btn li {margin-left: 0.0000vw;margin: 0 1.5625vw;}
#bo_v .view_top .view_top_btn li a {width: 29.5573vw;height: 12.6302vw;line-height: 12.6302vw;font-size: 3.5156vw;border-top-left-radius: 4.5573vw;border-bottom-right-radius: 4.5573vw;}
#bo_v .dental_info {margin-top: 5.2083vw;margin-bottom: 16.9271vw;}
#bo_v .dental_info .dental_info_left {float: none;width: 100%;}
#bo_v .dental_info .dental_introduce {font-size: 6.2500vw;line-height: 7.2917vw;letter-spacing: -0.05em;margin: 1.3021vw 0 4.5573vw;}
#bo_v .dental_info .dental_cate {font-size: 3.5156vw;width: 100%;padding-bottom: 5.8594vw;}
#bo_v .dental_info .dental_cate dt {width: 16.9271vw;}
#bo_v .dental_info .dental_cate dd {width: 76.8229vw;-ms-word-break: keep-all;word-break: keep-all;}
#bo_v .dental_info .dental_cate span {font-size: 3.1250vw;}
#bo_v .dental_info .dental_detail {margin-top: 5.8594vw;}
#bo_v .dental_info .dental_detail dt {font-size: 3.5156vw;width: 26.0417vw;padding-left: 7.1615vw;margin-bottom: 2.0833vw;}
#bo_v .dental_info .dental_detail dt:nth-of-type(1) {background-image: url(/images/icon_addr.png);background-position: 1.5625vw 70%;background-size: 2.6042vw;}
#bo_v .dental_info .dental_detail dt:nth-of-type(2) {background-image: url(/images/icon_time.png);background-position: 0.7813vw 70%;background-size: 4.0365vw;}
#bo_v .dental_info .dental_detail dt:nth-of-type(3) {background-image: url(/images/icon_tel.png);background-position: 0.7813vw 70%;background-size: 4.1667vw;}
#bo_v .dental_info .dental_detail dd {font-size: 3.5156vw;margin-bottom: 2.0833vw;-ms-word-break: keep-all;word-break: keep-all;width: 67.7083vw;}
#bo_v .dental_info .dental_detail dd span {width: 12.3698vw;}
#bo_v .dental_info .dental_info_right {float: none;position: relative;width: 61.1979vw;margin: 13.0208vw auto 0;}
#bo_v .dental_info .dentist {height: 26.0417vw;padding-top: 12.2396vw;}
#bo_v .dental_info .dentist_name {;font-size: 4.1667vw;padding-top: 3.2552vw;padding-left: 3.9063vw;}
#bo_v .dental_info .dentist_btn {margin-right: 3.9063vw;}
#bo_v .dental_info .dentist_btn a {width: 27.3438vw;height: 11.0677vw;line-height: 11.0677vw;background: url(/images/btn_arr.png) no-repeat 85% 50% #838ef8;background-size: 1.4323vw;font-size: 3.2552vw;border-top-left-radius: 4.5573vw;border-bottom-right-radius: 4.5573vw;}
#bo_v .dental_info .antecedents {padding: 6.5104vw 3.9063vw;font-size: 3.1250vw;}
#bo_v .dental_img {padding-bottom: 15.6250vw;margin-bottom: 7.8125vw;}
#bo_v .gallery-wrap {width: 79.6875vw;margin: 0 auto;}
#bo_v .gallery-wrap .swiper-slide {width: 100%;margin-right: 2%;}
#bo_v .gallery-wrap .swiper-slide:last-child {margin-right: 0;}
#bo_v .gallery-wrap .swiper-slide img {width: 100%;}
#bo_v .gallery-wrap .swiper-button-next, #bo_v .gallery-wrap .swiper-button-prev {width: 5.3385vw;height: 10.6771vw;background-size: 5.3385vw 10.6771vw;}
#bo_v .gallery-wrap .swiper-button-next {right: -7.5521vw;}
#bo_v .gallery-wrap .swiper-button-prev {left: -7.5521vw;}
#bo_v .dental_event {padding-bottom: 15.6250vw;margin-bottom: 13.0208vw;}
#bo_v .dental_event h2 {font-size: 5.4688vw;margin-bottom: 6.5104vw;}
#bo_v .dental_event h2:after {width: 1.5625vw;height: 2.9948vw;background: url(/images/dental_h2_arr.png) no-repeat 50% 50%;background-size: 1.5625vw;margin-left: 2.6042vw;position: relative;top: -0.5208vw;}
#bo_v .gall_text_href {font-size: 3.6458vw;font-weight: 500;margin: 3.9063vw 0 0.6510vw;}
#bo_v .gall_text_href span {display: block;width: 10.9375vw;height: 5.4688vw;text-align: center;line-height: 5.4688vw;font-size: 3.1250vw;color: #fff;font-weight: 300;margin-bottom: 1.9531vw;}
#bo_v .gall_date {font-size: 3.1250vw;}
#bo_v .event_list {width: 79.6875vw;margin: 0 auto;}
#bo_v .dental_event .swiper-slide {width: 100%;margin-right: 2%;}
#bo_v .dental_event .swiper-slide:last-child {margin-right: 0;}
#bo_v .dental_event .swiper-button-next, #bo_v .dental_event .swiper-button-prev {width: 5.3385vw;height: 10.6771vw;background-size: 5.3385vw 10.6771vw;}
#bo_v .dental_event .swiper-button-next {right: -7.5521vw;}
#bo_v .dental_event .swiper-button-prev {left: -7.5521vw;}
#bo_v .dental_event .event_btn a {width: 23.1771vw;height: 9.3750vw;line-height: 9.3750vw;font-size: 3.2552vw;border-top-left-radius: 4.5573vw;border-bottom-right-radius: 4.5573vw;}
#bo_v .dental_review {padding-bottom: 13.0208vw;margin-bottom: 13.0208vw;}
#bo_v .dental_review h2 {font-size: 5.4688vw;margin-bottom: 6.5104vw;}
#bo_v .dental_review h2:after {width: 1.5625vw;height: 2.9948vw;background: url(/images/dental_h2_arr.png) no-repeat 50% 50%;background-size: 1.5625vw;margin-left: 2.6042vw;position: relative;top: -0.5208vw;}
#bo_v #review_wbtn .review_form {width: 23.1771vw;height: 9.3750vw;line-height: 9.3750vw;font-size: 3.2552vw;border-top-left-radius: 4.5573vw;border-bottom-right-radius: 4.5573vw;}
#bo_v #review_wrap .review_li {float: none;width: 100%;margin-bottom: 3.9063vw;border-top-left-radius: 3.2552vw;border-bottom-right-radius: 3.2552vw;padding: 3.9063vw;}
#bo_v #review_wrap .review_li:nth-child(even) {float: none;}
#bo_v #review_wrap .review_li .review_thum {width: 17.3177vw;height: 17.3177vw;margin-right: 3.9063vw;padding-top: 1.3021vw;}
#bo_v #review_wrap .review_li .review_con {width: 63.8021vw;padding-top: 0.6510vw;}
#bo_v #review_wrap .review_li .review_dental {font-size: 2.7344vw;line-height: 1;margin-bottom: 0.0000vw;}
#bo_v #review_wrap .review_li dl {padding-right: 6.5104vw;}
#bo_v #review_wrap .review_li dd {font-size: 2.7344vw;}
#bo_v #review_wrap .review_li dd.dd_name {line-height: 2.3438vw;padding-right: 1.3021vw;margin-right: 1.3021vw;}
#bo_v #review_wrap .review_li dd.dd_date {line-height: 2.3438vw;}
#bo_v #review_wrap .review_li .review_tit {font-size: 3.2552vw;margin-bottom: 0.2604vw;}
#bo_v #review_wrap .review_li .review_txt {margin-top: 1.3021vw;font-size: 2.9948vw;;line-height: 3.6458vw;}
#bo_v #review_wrap .review_li .review_cmd {margin-top: 1.5625vw;}
#bo_v #review_wrap .review_li .review_cmd a {height: 6.2500vw;padding: 0.9115vw 1.3021vw;font-size: 2.6042vw;border-radius: 0.6510vw;}
#bo_v #review_wrap .review_li .review_detail {top: 3.5156vw;right: 3.9063vw;}
#bo_v #review_wrap .review_li .review_detail img {width: 6.3802vw;}
#bo_v #review .pg_wrap {margin-top: 3.9063vw;}

#bo_v .dental_addr .dental_addr_h {font-size: 4.4271vw;margin-bottom: 3.9063vw;}
#bo_v .dental_addr .dental_map {float: none;}
#bo_v .dental_addr .dental_map #map {width: 100%;padding-top: 59.8958vw;}
#bo_v .dental_addr .dental_info2 {float: none;width: 100%;padding-top: 3.9063vw;}
#bo_v .dental_addr .dental_name2 {font-size: 4.8177vw;padding-left: 0.0000vw;padding-bottom: 3.9063vw;}
#bo_v .dental_addr .dental_detail2 {padding-left: 0.0000vw;margin-top: 2.6042vw;font-size: 3.5156vw;line-height: 4.9479vw;}
#bo_v .dental_addr .dental_detail2 dt {margin-right: 0.6510vw;margin-bottom: 1.9531vw;}
#bo_v .dental_addr .dental_detail2 dt:nth-of-type(1) {width: 8.4635vw;}
#bo_v .dental_addr .dental_detail2 dd {margin-bottom: 1.9531vw;}
#bo_v .dental_addr .dental_detail2 dd:nth-of-type(1) {width: 84.6354vw;}

#bo_v_img {width: 100%;height: 78.1250vw;margin: 0 auto;}

/**게시판 버튼  CSS**/

/* Button Reset */
.jbutton,
.jbutton a,
.jbutton button,
.jbutton input { font-size:1.5625vw; background:url(img/buttonWhite.gif) no-repeat;background: none;background-color: #6c6c6c;}
.jbutton { height:5.2083vw; padding:0; vertical-align:middle; margin-right:0.2604vw; background-position:left top;}

/* Button Size */
.jbutton.large { height:5.2083vw; background-position:left -5.2083vw; background: none;vertical-align: top !important;}
.jbutton a,
.jbutton button,
.jbutton input { height:2.9948vw; padding:0 1.3021vw 0 1.0417vw; font-size:1.5625vw; line-height:2.9948vw; background-position:right top;background: #6c6c6c;background-color: #6c6c6c;}
.jbutton.large a,
.jbutton.large button,
.jbutton.large input { height:5.8594vw; padding:0 2.3438vw 0 2.3438vw; font-size:2.6042vw; line-height:5.8594vw; background-position:right -5.8594vw;background: #6c6c6c;background-color: #6c6c6c;}

.jbutton .width_j{padding:0 2.8646vw 0 2.4740vw!important;}
.jbutton .width_j2{padding:0 2.8646vw 0 2.3438vw!important;}

/* Button Text Color */
.jbutton *:hover,
.jbutton *:active,
.jbutton *:focus{background: #6c6c6c !important;}
.jbutton.green,
.jbutton.green a,
.jbutton.green button,
.jbutton.green input {background: #6c6c6c !important;}
.jbutton.black,
.jbutton.black a,
.jbutton.black button,
.jbutton.black input {background: #6c6c6c !important;}

#bo_sch {margin-top:9.1146vw;}
#bo_sch #sfl {height:5.8594vw !important;  margin-right:0.1302vw; font-size: 2.8646vw;}
#bo_sch #stx {height:5.8594vw; width:44.2708vw; }
#bo_sch #btn{border-left:0.0000vw; margin-left:-0.3906vw;}

}